<h1>Task list for: <%= current_user.email %></h1>
<em>Drag to re-order</em>

  <ul id="tasks" data-update-url="<%= sort_tasks_url %>">
  <% @tasks.each do |task| %>
    <%= content_tag_for :li, task do %>
      <span class="handle">drag</span>
      <%= task.title %>
      <% if task.description.present? %> - <%= task.description %><% end %><% if task.due_on %><%= task.due_on %><% end %>
    <% end %>
  <% end %>
  </ul>

<%= link_to 'New task', new_task_path %>