<h1>Create a new task</h1>

<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, {:value => current_user.id} %>
  
  <div class="row">
    <%= f.label :title, 'Title: ' %>
    <%= f.text_field :title, :size => 50 %>
    <span>(required)</span>
  </div><!-- row -->

  <div class="row">
    <%= f.label :due_on, 'Due: ' %>
    <%= f.date_select :due_on, :include_blank => true %>
  </div><!-- row -->

  <div class="row">
    <%= f.label :description, 'Description' %><br />
    <%= f.text_area :description, :cols => 50, :rows => 4 %>
  </div><!-- row -->

  <%= link_to 'Back', tasks_path %> | <%= f.submit 'Save' %>

<% end %>